In [5]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
import pandas as pd
import csv

w = []

url = "https://dir.indiamart.com/indianexporters/m_prmach.html"
driver = webdriver.Chrome()
driver.get(url)

soup = BeautifulSoup(driver.page_source,'html.parser')

for web in soup.find_all('li',class_= 'lst lst_cl mft2 img llc ws mft'):
    
    link3 = web.find('a')
    print(link3['href'])

In [24]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver


url = "https://www.flipkart.com/search?q=Sony%20242%20MPCamera%20Black&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"
driver = webdriver.Chrome()
driver.get(url)

soup = BeautifulSoup(driver.page_source,'html.parser')

for web in soup.find_all('div',class_= '_3pLy-c row'):
    Name = web.find('div', class_= '_4rR01T')
    print('NAME: '+ Name.text)
    
    Rat = web.find('div', class_= 'gUuXy-')
    print('Rating: ', Rat.text)
    
    Pri = web.find('div', class_= '_30jeq3 _1_WHN1')
    print('Price # : ', Pri.text)

NAME: SONY ZV-E10L Mirrorless Camera Body with 1650 mm Power Zoom Lens Vlog Camera
Rating:  4.5216 Ratings & 31 Reviews
Price # :  ₹61,490
NAME: SONY Alpha ILCE-6400L APS-C Mirrorless Camera with 16-50 mm Power Zoom Lens Featuring Eye AF and 4K mo...
Rating:  4.6495 Ratings & 71 Reviews
Price # :  ₹79,990
NAME: SONY Alpha ILCE-7M3K Full Frame Mirrorless Camera with 28-70 mm Zoom LensFeaturing Eye AF and 4K movie...
Rating:  4.5290 Ratings & 44 Reviews
Price # :  ₹1,60,081
NAME: SONY Alpha ILCE-6100L APS-C Mirrorless Camera with 16-50 mm Power Zoom Lens Featuring Eye AF and 4K mo...
Rating:  4.6237 Ratings & 42 Reviews
Price # :  ₹66,990
NAME: SONY Alpha ILCE-6400 APS-C Mirrorless Camera Body Only Featuring Eye AF and 4K movie recording
Rating:  4.6495 Ratings & 71 Reviews
Price # :  ₹72,990
NAME: SONY ZV-E10 Mirrorless Camera Body Only Vlog Camera
Rating:  4.5216 Ratings & 31 Reviews
Price # :  ₹52,599
NAME: SONY Alpha ILCE-6100 APS-C Mirrorless Camera Body Only Featuring Eye AF and 4K movie recording
Rating:  4.6237 Ratings & 42 Reviews
Price # :  ₹56,990
NAME: SONY Alpha ILCE-7C Full Frame Mirrorless Camera Body Featuring Eye AF and 4K movie recording
Rating:  4.655 Ratings & 10 Reviews
Price # :  ₹1,47,790
NAME: SONY Alpha ILCE-6400M APS-C Mirrorless Camera with 18-135 mm Zoom Lens Featuring Eye AF and 4K movie r...
Rating:  4.7179 Ratings & 17 Reviews
Price # :  ₹1,05,990
NAME: SONY Alpha ILCE-7M3 Full Frame Mirrorless Camera Body Only Featuring Eye AF and 4K movie recording
Rating:  4.5290 Ratings & 44 Reviews
Price # :  ₹1,45,990
NAME: SONY Alpha ILCE-6400L Mirrorless Camera Body with 16-50mm Power Zoom Lens
Rating:  4.56 Ratings & 2 Reviews
Price # :  ₹1,27,559

In [25]:
Data = list(zip(Name,Rat,Pri))
Data

[('SONY Alpha ILCE-6400L Mirrorless Camera Body with 16-50mm Power Zoom Lens',
  <span class="_1lRcqv" id="productRating_LSTDLLFSDGJMZGCFFRSYA8AEA_DLLFSDGJMZGCFFRS_"><div class="_3LWZlK">4.5<img class="_1wB99o" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="/></div></span>,
  '₹1,27,559')]

In [26]:
df = pd.DataFrame(Data,columns = ['Product Name', 'Review and Ratings', 'Pricing'])
df

,Product Name,Review and Ratings,Pricing
0,SONY Alpha ILCE-6400L Mirrorless Camera Body w...,"[[4.5, []]]","₹1,27,559"

In [1]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver

url = "https://www.flipkart.com/search?q=Sony%20242%20MPCamera%20Black&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"
driver = webdriver.Chrome()
driver.get(url)

soup = BeautifulSoup(driver.page_source,'html.parser')

for web in soup.find_all('div',class_= '_3pLy-c row'):
    Name = web.find_all('div', class_= '_4rR01T')
    
    Rat = web.find_all('div', class_= 'gUuXy-')
    
    Pri = web.find_all('div', class_= '_30jeq3 _1_WHN1')
    
na = []
ra = []
pr = []

for i in Name:
    na.append(i)
for i in Rat:
    ra.append(i)
for i in Pri:
    pr.append(i)

In [6]:
Data = {'Name': na, 'Rating': ra, 'Price': pr}
Data = list(zip(na,ra,pr))
Data

[(<div class="_4rR01T">SONY Alpha ILCE-6400L Mirrorless Camera Body with 16-50mm Power Zoom Lens</div>,
  <div class="gUuXy-"><span class="_1lRcqv" id="productRating_LSTDLLFSDGJMZGCFFRSYA8AEA_DLLFSDGJMZGCFFRS_"><div class="_3LWZlK">4.5<img class="_1wB99o" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="/></div></span><span class="_2_R_DZ"><span><span>6 Ratings </span><span class="_13vcmD">&amp;</span><span> 2 Reviews</span></span></span></div>,
  <div class="_30jeq3 _1_WHN1">₹1,27,559</div>)]

In [7]:
df = pd.DataFrame(Data,columns = ['Product Name', 'Review and Ratings', 'Pricing'])
df

,Product Name,Review and Ratings,Pricing
0,[SONY Alpha ILCE-6400L Mirrorless Camera Body ...,"[[[4.5, <img class=""_1wB99o"" src=""data:image/s...","[₹1,27,559]"